<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temitope's Budi Project</title>
    <link rel="stylesheet" href="../assets/styles/budi.css" />
    <link rel="stylesheet" href="../assets/styles/portfolio.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Syne"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

  <body>
    <header>
      <nav class="top-nav">
        <div class="nav-links">
          <a href="../index.html" class="home-link"> TEMITOPE FAMUYIWA </a>
          <div class="links">
            <a href="../index.html#works" class="work-link"> Work </a>
            <a href="https://drive.google.com/file/d/156gPju99y7n2J6AavEXXoaCeoY3D7C0P/view?usp=share_link" 
            class="resume-link"> Resume </a>
          </div>
        </div>
      </nav>
    </header>

    <div class="budi-blue-bg">
        <div class="budi-mockups">
            <div class="budi-title">
                <p class="budi">Budi</p>
                <p class="mt-16 sub-title">Find events you love and people to go with</p>
            </div>
            <div class="mockup-images mt-32">
                <div class="mockup-1">
                <img
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="300"
                    src="../assets/images/budi/[Mockup splash screen 1.png"
                    alt="budi-splash-screen"
                />
                </div>
                <div class="mockup-2">
                <img data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500"
                    src="../assets/images/budi/Mockup home budi 1.png"
                    alt="budi-home"
                />
                </div>
                <div class="mockup-3">
                <img data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="100"
                    src="../assets/images/budi/Mockup user profile 1.png"
                    alt="budi-user-profile"
                />
                </div>
            </div>
        </div>
    </div>

    <div class="overview d-flex w-100 pb-80 pt-80">
      <div class="overview-container w-80">
        <p class="title">OVERVIEW</p>
        <p class="sub-title mt-16" 
        data-aos="fade-up"
        data-aos-once="false"
        data-aos-delay="20">
          Budi is a social app that helps people find events they love and also
          recommends people who share similar interests to go with.
        </p>
        <div class="overview-roles">
          <table class="mt-32">
            <tr class="fs-1-5"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="80">
              <th class="text-start body-p">Role</th>
              <th class="text-start body-p">Team</th>
              <th class="text-start body-p">Tools</th>
              <th class="text-start body-p">Timeline</th>
            </tr>
            <tr class="text-muted fs-1"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="100">
              <td>Product Designer</td>
              <td>Individual</td>
              <td>Figma</td>
              <td>3 weeks</td>
            </tr>
            <tr class="text-muted fs-1"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="120">
              <td>UX Researcher</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="problem d-flex w-100">
        <div class="problem-container w-80">
            <p class="title">PROBLEM</p>
            <p class="body-p"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="20">
                Sometimes people want to go to events they enjoy like a concert museum
                exhibits, career fairs, movies, etc. but can't find people with
                similar interests to go with.
            </p>
            <p class="text-muted fs-1-5"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="60">
                These people might not want to experience the event alone, so they
                forego the oppportunity.
            </p>
        </div>
    </div>

    <div class="design-challenge pt-80 pb-80 d-flex blue-bg">
        <div class="design-container w-80">
            <p class="title">DESIGN CHALLENGE</p>
            <p class="body-p">
            How might we help people who like to go to events discover unique events
            and people to enjoy them with?
            </p>
        </div>
    </div>

    <div class="solution d-flex">
        <div class="solution-container w-80 mt-80">
            <p class="title">SOLUTION</p>
            <p class="body-p"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="200">
                The goal of Budi is to make it possible and easy for people to find
                events easily and for one or more persons to go to the event with them.
            </p>
            <p class="text-muted fs-1-5"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="500">
                This gives them the opportunity to make friends and spend time with
                people and create the best possible experience for these Users.
            </p>
            
        </div>
    </div>

    <div class="interests d-flex">
        <div class="interests-container w-80 d-flex">
            <div class="signup-image mt-80 d-flex">
                <img class="interest-1"
                data-aos="fade-up-right"
                data-aos-once="false"
                data-aos-offset="-900"
                data-aos-duration="3000"
                src="../assets/images/budi/Budi Mock up Profile 1 1.png"
                alt="Budi profile screen"
                />
                <img class="interest-2"
                data-aos="fade-up-right"
                data-aos-once="false"
                data-aos-offset="-1000"
                data-aos-duration="3000"
                src="../assets/images/budi/Mock up preference screen budi 2.png"
                alt="Budi preference screen"
                />
            </div>
            <div class="interest-text">
                <p class="title-2"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500">Interests and Preference</p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                With the simple onboarding process, users are able to set their
                profile in minutes to get the best event recommendations.
                </p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                Users are able to select at least three categories or preferences to
                enable Budi to find the best possible events that suit users.
                </p>
            </div>
        </div>
    </div>

    <div class="recommendations d-flex">
        <div class="rec-cont w-80 d-flex">
            <div class="recommendation-text">
                <p class="title-2"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500">Event Recommendations</p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                The home page also showcases recommendations and upcoming events based
                on the user's location and interests.
                </p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                Users are able to view the details of events (location, time, about,
                etc.) and people who are going to these similar events. they are also
                able to save events that interests them.
                </p>
            </div>
            <div class="signup-image mt-80 d-flex">
                <img class="rec-1"
                data-aos="fade-up-left"
                data-aos-once="false"
                data-aos-offset="-700"
                data-aos-duration="3000"
                src="../assets/images/budi/Mockup event details 1 1.png"
                alt="Budi event details screen"
                />
                <img class="rec-2"
                data-aos="fade-up-left"
                data-aos-once="false"
                data-aos-offset="-100"
                data-aos-duration="3000"
                src="../assets/images/budi/Mockup home budi 2.png"
                alt="Budi home screen 2"
                />
            </div>
        </div>
    </div>

    <div class="comments d-flex">
        <div class="w-80 d-flex">
            <div class="signup-image mt-80 d-flex">
                <img class="com-1"
                data-aos="fade-up-right"
                data-aos-once="false"
                data-aos-offset="-700"
                data-aos-duration="3000"
                src="../assets/images/budi/Mock up event details + comment 1.png"
                alt="Budi event + comment screen"
                />
            </div>
            <div class="comments-text">
                <p class="title-2"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500">Comments</p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                Users are able to make comments to enhance the user experience and
                keep users engaged and social within the application.
                </p>
            </div>
        </div>
    </div>

    <div class="chats d-flex">
        <div class="chat-cont w-80 d-flex">
            <div class="chat-text">
                <p class="title-2"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500">Inapp chat & messaging</p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                Users are able to get connected going to similar events. How is this
                possible? On Budi, people going to similar events are displayed so as
                to enable other users like them to find them.
                </p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                These users are able to view their profile (Name, Location, Bio,
                Interests) and chat with them to help them get familiar with them.
                </p>
            </div>
            <div class="signup-image mt-80 d-flex">
                <img class="ch-1"
                data-aos="fade-up-left"
                data-aos-once="false"
                data-aos-offset="-900"
                data-aos-duration="3000"
                src="../assets/images/budi/Mockup event details 1 1.png"
                alt="Budi profile screen"
                />
                <img class="ch-2"
                data-aos="fade-up-left"
                data-aos-once="false"
                data-aos-offset="-1000"
                data-aos-duration="3000"
                src="../assets/images/budi/Message budi mockup 1.png"
                alt="Budi chat screen"
                />
            </div>
        </div>
    </div>

    <div class="share d-flex">
        <div class="w-80 d-flex">
            <div class="signup-image mt-80 d-flex">
                <img class="sh-1"
                data-aos="fade-up-right"
                data-aos-once="false"
                data-aos-offset="-700"
                data-aos-duration="3000"
                src="../assets/images/budi/Mock up preference screen+share 1.png"
                alt="Budi share screen"
                />
            </div>
            <div class="share-text">
                <p class="title-2"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500">Sharing events</p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                Users are able to share events with friends within their social
                network that might want to tag along.
                </p>
            </div>
        </div>
    </div>

    <div class="notifications d-flex">
        <div class="w-80 d-flex">
            <div class="signup-image mt-80 d-flex">
                <img class="interest-1"
                data-aos="fade-up-right"
                data-aos-once="false"
                data-aos-offset="-900"
                data-aos-duration="3000"
                src="../assets/images/budi/Mockup notification overlay 1.png"
                alt="Phone notification screen"
                />
                <img class="interest-2"
                data-aos="fade-up-right"
                data-aos-once="false"
                data-aos-offset="-1000"
                data-aos-duration="3000"
                src="../assets/images/budi/Mockup inapp notification 1.png"
                alt="Budi notification screen"
                />
            </div>
            <div class="notification-text">
                <p class="title-2"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="500">Push notifications</p>
                <p class="text-muted fs-1-5"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="200">
                These users are able to view their profile (Name, Location, Bio,
                Interests) and chat with them to help them get familiar with them.
                </p>
            </div>
        </div>
    </div>

    <div class="process d-flex w-100">
        <div class="w-80 mt-80">
            <p class="title"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="200">PROCESS</p>
            <p class="sub-title"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="80">Ok, but how did I actually get there?</p>
            <table class="mt-32">
                <tr class="fs-1-5">
                <th class="text-start"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Research (week 1)</th>
                <th class="text-start"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Ideation (week 2)</th>
                <th class="text-start"
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Prototyping (week 3)</th>
                </tr>
                <tr class="text-muted fs-1">
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Research plan</td>
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Mind mapping</td>
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Low-fidelity Wireframing</td>
                </tr>
                <tr class="text-muted fs-1">
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Surveys</td>
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">User flows</td>
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">High-Fidelity Wireframing</td>
                </tr>
                <tr class="text-muted fs-1">
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Interviews</td>
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Paper sketches</td>
                <td
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">Style Guides</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="research d-flex w-100">
        <div class="w-80 mt-80 pt-80 pb-80">
            <p class="title"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="200">#1 USER Research</p>
        
            <p class="text-muted fs-1-5"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="80">
                I interviewed 5 peole who go to events on their needs, pain points, and
                how they currently find people to go to an event with. I also collected
                17 responses in an online survey for my research.
            </p>
            <p class="sub-title"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="80">
                And based on the responses here are the key insights;
            </p>
            <ul class="text-muted list fs-1-5">
                <li
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">All respondents said that they prefer to join events offline</li>
                <li
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">
                Most people get to kmow about events throigh their families, friends,
                and social hangouts. Some people get to kmow about events from social
                media platforms.
                </li>
                <li
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">
                Most of the reapondents said they prefer to go to events with people
                </li>
                <li
                data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">
                They prefer to go with someone they are familiar with and can be
                comfortable around.
                </li>
                <li data-aos="fade-up"
                data-aos-once="false"
                data-aos-delay="80">
                People would want to know about the people they are going to the event
                with.
                </li>
            </ul>
        </div>
    </div>
    <div class="opportunity d-flex w-100 blue-bg pt-80 pb-80 mt-80">
        <div class="w-80">
            <p class="title">DESIGN OPPORTUNITY</p>
            <p class="body-p">
                We identified opportunities to build a product with a focus on people
                finding events they enjoy, helping them find people with similar
                interests to go with, making friends, and building relationships.
            </p>
        </div>
    </div>

    <div class="journey d-flex w-100 pt-80 pb-80 mt-80">
        <div class="w-80">
            <p class="title"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="200">USER JOURNEY MAP</p>
            <p class="text-muted fs-1-5"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="80">
                I was able to create a typical journey map of the user's experience of
                tfinding an event and someone to go with and extracted 3 main pain
                points and their goals while doing this.
            </p>
            <p class="sub-title mt-32">Painpoints</p>
            <div class="painpoints">
                <div class="points"
                data-aos="fade-down"
                data-aos-once="false"
                data-aos-delay="500"
                data-aos-offset="-200">
                    <div class="points-grid"
                    data-aos="fade-up"
                    data-aos-once="false"
                    data-aos-delay="600">
                        <p class="worried ">&#128532</p>
                        <p>Worried about finding the right people to go out with</p>
                    </div>
                </div>
                <div class="points"
                data-aos="fade-down"
                data-aos-once="false"
                data-aos-delay="200"
                data-aos-offset="-200">
                    <div class="points-grid"
                    data-aos="fade-up"
                    data-aos-once="false"
                    data-aos-delay="300">
                        <p class="worried">&#128532</p>
                        <p>Worried about their safety during hang out</p>
                    </div>
                </div>
                <div class="points"
                data-aos="fade-down"
                data-aos-once="false"
                data-aos-delay="80"
                data-aos-offset="-200">
                    <div class="points-grid"
                    data-aos="fade-up"
                    data-aos-once="false"
                    data-aos-delay="200">
                        <p class="worried">&#128532</p>
                        <p>
                            Skeptical about going to events with people they are not familiar
                            with
                        </p>
                    </div>
                </div>
            </div>
            <p class="sub-title mt-32">Needs & Goals</p>
            <div class="painpoints">
                <div class="points-2"
                data-aos="fade-down"
                data-aos-once="false"
                data-aos-delay="80"
                data-aos-offset="-200">
                    <div class="points-grid"
                    data-aos="fade-up"
                    data-aos-once="false"
                    data-aos-delay="200">
                        <p class="smile">&#128513</p>
                        <p>To find events they enjoy going to</p>
                    </div>
                </div>
                <div class="points-2"
                data-aos="fade-down"
                data-aos-once="false"
                data-aos-delay="200"
                data-aos-offset="-200">
                    <div class="points-grid"
                    data-aos="fade-up"
                    data-aos-once="false"
                    data-aos-delay="300">
                        <p class="smile">&#128513</p>
                        <p>To meet people with similar interests</p>
                    </div>
                </div>
                <div class="points-2"
                data-aos="fade-down"
                data-aos-once="false"
                data-aos-delay="500"
                data-aos-offset="-200">
                    <div class="points-grid"
                    data-aos="fade-up"
                    data-aos-once="false"
                    data-aos-delay="600">
                        <p class="smile">&#128513</p>
                        <p>To connect and build relationship people</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ideation d-flex w-100 blue-bg pt-80 pb-80 mt-80">
      <div class="w-80">
            <p class="title">#2 IDEATION</p>
            <p class="body-p">
            I created mind mapping and user flows to align design decisions with
            users' behaviors and needs which form the basis for the app.
            </p>
            
      </div>
    </div>
    <div class="w-100 d-flex">
        <div class="w-80"
        data-aos="fade-up"
        data-aos-once="false"
        data-aos-delay="0"
        data-aos-offset="-300">
            <img src="../assets/images/budi/User flows.png" alt="User flow" />
        </div>
    </div>
    <div class="prototyping d-flex w-100 blue-bg pt-80 pb-80">
        <div class="w-80">
            <p class="title">#3 PROTOTYPING</p>
        
            <p class="body-p">
            I spent time figuring out what platform would be best suited for the
            use case, a mobile app or a web app. Upon thinking about its effects
            on users, I considered the ease of use and accessibility.
            </p>
        </div>
    </div>

    <div class="d-flex w-100 mt-80">
        <div class="w-80">
            <p class="sub-title">Low-Fidelity Wireframes using Miro tool</p>
        </div>
    </div>
    <div class="d-flex w-100 mt-32">
        <div class="w-80">
            <img
                src="../assets/images/budi/New Budi Wireframes 1.png"
                alt="Budi wireframes"
                class="wireframe"
            />
        </div>
    </div>

    <div class="d-flex w-100 mt-80">
      <div class="w-80">
        <p class="sub-title">More design screens</p>
      </div>
    </div>
    <div class="d-flex w-100 mt-32">
        <div class="w-80">
            <img src="../assets/images/budi/More designs.png" alt="more designs" />
        </div>
    </div>
    <div class="d-flex w-100 mt-80">
        <div class="w-80">
            <p class="sub-title">Style guide</p>
            
            <p class="text-muted fs-1-5"
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="80">
                To help the app's developer comprehend all the dimensions I used across
                the app, I created a style guid. It was made up of the iconography,
                colors, grids system, buttons, textfield and typography.
            </p>
        </div>
    </div>
    <div class="d-flex w-100">
        <div class="styles w-80">
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="100" class="style" src="../assets/images/budi/color-guide.png" alt="color guide" />
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="300" class="style" src="../assets/images/budi/icon-guide.png" alt="icon guide" />
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="500" class="style" src="../assets/images/budi/button-guide.png" alt="buttons guide" />
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="700" class="style" src="../assets/images/budi/input-guide.png" alt="input guide" />
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="900" class="style"
            src="../assets/images/budi/spacing-guide.png"
            alt="spacing guide"
            />
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="1100" class="style"
            src="../assets/images/budi/typography-guide.png"
            alt="typography guide"
            />
            <img data-aos="fade-in"
            data-aos-once="false"
            data-aos-delay="1200" class="style" src="../assets/images/budi/grids-guide.png" alt="grids guide" />
        </div>
    </div>

    <div class="landing w-100 d-flex mt-80">
        <div class="w-80">
            <p class="sub-title">Budi Landing page</p>
        </div>
    </div>
    <div class="w-100 d-flex">
        <div class="w-80">
            <img
            src="../assets/images/budi/Budi landing page.png"
            alt="Landing page"
        />
        </div>
    </div>
    <div class="d-flex w-100 blue-bg pt-80 pb-80 mt-80">
      <div class="w-80">
            <p class="title">TAKEAWAYS</p>
            <p class="body-p">
            The project helped me to learn more about the process of a design
            thinking framework. Also learned how to empathize with the users ina
            abetter way. I learned that understanding my users (pain points,
            personality, and behaviors) is crucial in making more cenetered
            solutions and designs.
            </p>
      </div>
    </div>
    <div class="next w-100 pt-80 pb-80 d-flex">
        <div class="w-80">
            <p class="title">NEXT PROJECT</p>
            <a href="first-aider.html" class="d-flex">
                <div class="next-project">
                    <img src="../assets/images/budi/first aider.png" alt="next project" />
                    <p class="sub-title">First Aider</p>
                    <p class="body-p fs-15">Prompt medical assistance to every Nigerian anywhere.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="contact w-100 mt-80 d-flex pt-80 pb-80 grey-bg">
      <div class="w-80 d-flex">
        <div>
          <p class="sub-title d-flex">Got a project?</p>
          <p class="d-flex text-muted fs-1-5">
            Send me and email at&#160
            <a href="mailto:olutemitopefamuyiwa@gmail.com"
              >olutemitopefamuyiwa@gmail.com</a
            > &#160or find me on
          </p>
          <div class="socials d-flex">
            <div class="social">
                <a href="#"><img src="../assets/icons/twitter.svg" alt=""></a>
            </div>
            <div class="social">
                <a href="https://www.linkedin.com/in/temitopefamuyiwa/"><img src="../assets/icons/linkedin.svg" alt=""></a>
            </div>
          </div>
          <div class="footer d-flex">
            <p class="text-muted">&#169 Designed by Temitope Famuyiwa</p>
          </div>
        </div>
      </div>
    </div>

    <script>
        window.addEventListener('scroll', (e)=>{
            const nav = document.querySelector('.top-nav');
            if(window.pageYOffset>0){
                nav.classList.add("add-shadow");
            }else{
                nav.classList.remove("add-shadow");
            }
        });
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000,
        easing:"ease-in-out",
        mirror:"true",
        once:"false",
    });
    </script>
  </body>
</html>
