<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temitope First Aider</title>
    <link rel="stylesheet" href="../assets/styles/first-aider.css" />
    <link rel="stylesheet" href="../assets/styles/portfolio.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syne">
</head>
<body>
    <header>
        <nav class="top-nav">
          <div class="nav-links">
            <a href="index.html" class="home-link"> TEMITOPE FAMUYIWA </a>
            <div class="links">
              <a href="" class="work-link"> Work </a>
              <a href="https://drive.google.com/file/d/156gPju99y7n2J6AavEXXoaCeoY3D7C0P/view?usp=share_link" 
              class="resume-link"> Resume </a>
            </div>
          </div>
        </nav>
    </header>

    <div class="hero w-100 d-flex">
        <div class="hero-container w-80">
            <div class="hero-title">
                <p class="first-aider text-center mt-80">FirstAider</p>
                <p class="hero-sub mt-32 sub-title text-center">Prompt assistance to every Nigerian anywhere</p>
            </div>
            <div class="hero-image mt-32 d-flex">
                <img src="../assets/images/first-aider/first aider screens.png" alt="hero image">
            </div>
        </div>
    </div>

    <div class="overview w-100 d-flex pt-80 pb-80">
        <div class="w-80">
            <table class="mt-32">
                <tr class="fs-1-5">
                    <th class="text-start body-p">Role</th>
                    <th class="text-start body-p">Team</th>
                    <th class="text-start body-p">Tools</th>
                    <th class="text-start body-p">Timeline</th>
                </tr>
                <tr class="text-muted fs-1">
                    <td>Product Designer</td>
                    <td>Group Project</td>
                    <td>Figma</td>
                    <td>3 weeks</td>
                </tr>
                <tr class="text-muted fs-1">
                    <td>UX Researcher</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="problem d-flex w-100 pt-80 pb-80">
        <div class="w-80">
            <p class="f-title">PROBLEM</p>
            <p class="sub-title">
                Getting medical help in cases of emergency can be very hard if not almost impossible for the aveerage Nigerian.
            </p>
            <p class="text-muted fs-1-5">
                In cases of accidents or critical health conditions, getting victims to the nearest health care centre in quick time can prove imposiible given the conditions of our roads, traffic congestion and the need for police reports can also make things even worse.
            </p>
        </div>
    </div>
    <div class="challenge d-flex w-100 red-bg pt-80 pb-80">
        <div class="w-80">
            <p class="f-title">DESIGN CHALLENGE</p>
            <p class="body-p">
                How might we allow the average Nigerian gain access to prompt medical assistance whenever the need arises?
            </p>
        </div>
    </div>
    <div class="solution d-flex w-100 pt-80">
        <div class="w-80">
            <p class="f-title">SOLUTION</p>
            <div class="grids-2 reverse d-flex">
                <div class="grid-1 body-grid">
                    <p class="text-muted fs-1-5">
                        Granting users access to fast medical assistance and medical services, from anywhere and at any time.
                    </p>
                </div>
                <div class="grid-2-2 d-flex">
                    <img class="img-1" src="../assets/images/first-aider/call for ambulance.png" alt="ambulance screen">
                    <img class="img-2" src="../assets/images/first-aider/services.png" alt="services screen">
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex pt-80">
        <div class="grids-2 w-80 d-flex">
            <div class="grid-2-2">
                <img class="img-3" src="../assets/images/first-aider/emergency contact.png" alt="emergency contact">
            </div>
            <div class="grid-2 body-grid">
                <p class="text-muted fs-1-5 float-end">
                    The application allows users to add emergency contact and automatically sends SMS alerts incase of emergency.
                </p>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex pt-80">
        <div class="grids-2 reverse w-80 d-flex">
            <div class="grid-1 body-grid">
                <p class="text-muted fs-1-5">
                    The app allows a multiple profile feature that enables a user to save the health profile of close ones.
                </p>
            </div>
            <div class="grid-2-2">
                <img class="img-left" src="../assets/images/first-aider/First aider multiple profile mockup 1.png" alt="multiple profile screen">
            </div>
        </div>
    </div>
    <div class="w-100 d-flex pt-80 pb-80">
        <div class="grids-2 w-80 d-flex">
            <div class="grid-2-2 d-flex">
                <img class="p1-img" src="../assets/images/first-aider/First aider payment plans mockup 1.png" alt="payment plans">
                <img class="p2-img" src="../assets/images/first-aider/Firstaider payment method mockup 1.png" alt="payment method">
            </div>
            <div class="grid-2 body-grid">
                <p class="text-muted fs-1-5">
                    Users are on a subscription-based membership. FirstAider is able to partner with network of hospitals and paramedical agencies that are available on the go to offer first-aid services. This allows users to be connected to the nearest partner at request.
                </p>
            </div>
        </div>
    </div>
    <div class="research w-100 d-flex pt-80 pb-80 red-bg">
        <div class="w-80">

            <p class="f-title">
                USER RESEARCH
            </p>
            <p class="body-p">
                We started by making research online on how medical emergency services work in order to gain insight and gather information fo rour solution. Our research gave us a better understanding of the difficulties Nigerians face in getting medical assistance in cases of emergency.
            </p>
            <p class="text-muted fs-1-5">
                We did a competitive analysis of existing solutions on appstore and playstore. We wanted to understand the flow, learn from them with the aim to improve.
            </p>
        </div>
    </div>
    <div class="user-story w-100 d-flex">
        <div class="w-80 d-flex">
            <img class="user-img" src="../assets/images/first-aider/user story.png" alt="user-story">
        </div>
    </div>
    <div class="ideation w-100 d-flex red-bg pb-80 pt-80">
        <div class="w-80">
            <p class="f-title">IDEATION</p>
            <p class="body-p">
                We then created a basic userflow to understand how users will interact with the application.
            </p>
        </div>
    </div>
    <div class="userflow w-100 d-flex">
        <div class="w-80 d-flex">
            <img src="../assets/images/first-aider/userflow.png" alt="userflow">
        </div>
    </div>
    <div class="grey-bg pt-80 pb-80">
        <div class="prototype w-100 d-flex">
            <div class="w-80">
                <p class="f-title">PROTOTYPE</p>
            </div>
        </div>
        <div class="w-100 d-flex mt-32">
            <div class="w-80 d-flex">
                <img class="proto-img" src="../assets/images/first-aider/First aider splash screen mockup 1.png" alt="prototype">
            </div>
        </div>
    </div>
    <div class="takeaways w-100 d-flex pt-80 pb-80 red-bg">
        <div class="w-80">
            <p class="f-title">TAKEAWAYS</p>
            <p class="body-p">
                The group project was an exciting experience for me. I learnt how to collaborate with a team of designers led by a design mentor. I learnt from fellow designers and this helped me to brush up my UI design skills.
            </p>
        </div>
    </div>
    <div class="next w-100 d-flex pt-80 pb-80">
        <div class="w-80">
            <p class="f-title">NEXT PROJECT</p>
            <a href="budi.html" class="d-flex">
                <div class="next-project">
                    <img src="../assets/images/first-aider/budi page.png" alt="next project">
                    <p class="sub-title">Budi</p>
                    <p class="body-p fs-15">A mobile app that allow people find events they love and people to go with.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="contact w-100 d-flex pt-80 pb-80 grey-bg">
        <div class="w-80 d-flex">
          <div>
            <p class="sub-title d-flex">Got a project?</p>
            <p class="d-flex text-muted">
              Send me and email at&#160
              <a href="mailto:olutemitopefamuyiwa@gmail.com"
                >olutemitopefamuyiwa@gmail.com</a
              > &#160or find me on
            </p>
            <div class="socials d-flex">
              <div class="social">
                  <a href="#"><img src="../assets/icons/twitter.png" alt=""></a>
              </div>
              <div class="social">
                  <a href="https://www.linkedin.com/in/temitopefamuyiwa/"><img src="../assets/icons/linkedin.png" alt=""></a>
              </div>
            </div>
            <div class="footer d-flex">
              <p>&#169 Designed by Temitope Famuyiwa</p>
            </div>
          </div>
        </div>
    </div>

    <script>
        window.addEventListener('scroll', (e)=>{
            const nav = document.querySelector('.top-nav');
            if(window.pageYOffset>0){
                nav.classList.add("add-shadow");
            }else{
                nav.classList.remove("add-shadow");
            }
        });
    </script>
</body>
</html>